<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

<!-- meta tags for twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@anindita_basu">
<meta name="twitter:url" content="https://github.com/AninditaBasu/docs-as-code">
<meta name="twitter:title" content="Docs as code">
<meta name="twitter:description" content="Automatically propagate UI text changes to documentation">
<meta name="twitter:image" content="https://AninditaBasu.github.io/images/docsAScode.png">
<meta name="twitter:image:alt" content="Docs as code implementation">

<!-- meta tags for facebook  -->
<meta property="og:title" content="Docs as code">
<meta property="og:image" content="https://AninditaBasu.github.io/images/docsAScodeCard.png">
<meta property="og:image:alt" content="Docs as code implementation">
<meta property="og:description" content="Automatically propagate UI text changes to documentation">
<!-- end of meta tags -->

<title>{{ page.title }}</title>

<link rel="stylesheet" type="text/css" href="{{ "/css/bootstrap.min.css" | absolute_url }}">

<script src="{{ "/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "/js/popper.min.js" | absolute_url }}"></script>
<script src="{{ "/js/bootstrap.min.js" | absolute_url }}"></script>

<style>
  body {
    position: relative;
  }
  ul.nav-pills {
    top: 20px;
    position: fixed;
  }
  div.col-8 div {
    height: 500px;
  }
</style>

</head>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="1">

<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-4" id="myScrollspy">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
		<span class="border border-top-0 border-right-0 border-left-0">
		<a class="nav-link active" href="{{ "index.html" | absolute_url }}">Clood</a>
		</span>
		</li>
		<li class="nav-item"><hr/></li>
        <li class="nav-item"><a class="nav-link" href="{{ "/topics/page1.html" | absolute_url }}">Starter kits</a></li>
		<li class="nav-item"><a class="nav-link" href="{{ "/topics/page2.html" | absolute_url }}">API reference</a></li>
		<li class="nav-item"><a class="nav-link" href="{{ "/topics/page3.html" | absolute_url }}">SDKs</a></li>
		<li class="nav-item"><a class="nav-link" href="{{ "/topics/page4.html" | absolute_url }}">Apps</a></li>
      </ul>
    </nav>
  </div><!-- /.row -->
</div><!-- /.container-fluid -->

<div class="container">

{{ content }}
         
</div><!-- /.container -->

<div class="container">
<hr/>
<footer>
<p class = "small">&copy; 2020&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% assign url = "https://github.com/AninditaBasu" %}
<a href="{{ site.baseurl | prepend: url }}">GitHub repo</a>
</p>
</footer>
</div><!-- /.container -->

</body>

</html>
